.pull-right pre{
  margin-top: 0;
}
.pull-left pre{
  margin-top: 0;
}

.one_third {
  width: 33%;
  float: left;
}

.pull-right-big{
  float: right;
  width: 60%;
}

.pull-left-small{
  float: left;
  width: 37%;
}

.pull-left-small h2{
  margin-top: 0;
}

.pull-right-big h2{
  margin-top: 0;
}

.pull-right-55{
  float: right;
  width: 55%;
}

.pull-left-55-inverse{
  float: left;
  width: 43%;
}

.pull-right-55 p{
  margin-top: 0;
}

.pull-right-55 h2{
  margin-top: 0;
}

.pull-left-55-inverse p{
  margin-top: 0;
}

.pull-left-55-inverse pre{
  margin-top: 0;
}

.pull-right-55 pre{
  margin-top: 0;
}



/* One off classes */
.move-h2-up{
  margin-top: -40px;
}